body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(background2.jpeg);
    background-size: cover;
}

header {
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.mentor-list {
    display: flex;
    gap: 20px;
}

.mentor-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mentor-card img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.mentor-card h2 {
    margin: 10px 0 5px;
    font-size: 18px;
}

.mentor-card p {
    margin: 0 0 10px;
    color: #777;
}

.mentor-card button {
    color: 000;
    background-color:aliceblue;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.mentor-card button:hover {
    background-color:#00bfff;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
a{
    text-decoration: none;
    color:#000;
}